name: mpnet
_target_: strhub.models.mpnet.system.MPNet

# Data
patch_size: [ 4, 8 ]  # [ height, width ]

# Architecture
embed_dim: 384
enc_num_heads: 6
enc_mlp_ratio: 4
enc_depth: 12
dec_num_heads: 12
dec_mlp_ratio: 4
dec_depth: 1

# Training
lr: 7e-4
perm_num: 6
perm_forward: true
perm_mirrored: true
dropout: 0.1
len_ratio: 0.25
pad_ratio: 1.0
use_gt: true
len_token: true

# Decoding mode (test)
decode_ar: true
refine_iters: 1

# MLM decoding
mlm_iters: 5
top_k: 1
